<div class="no-policies-component">
  <ion-card class="no-policies csaa-card">
    <div class="error-img">
      <img src="/assets/csaa-mobile/imgs/insurance-error-card.jpeg" />
    </div>
    <ion-card-content class="main-body-card">
      <h2 class="no-policies-title">No Active Policies</h2>
      <p class="no-policies-message">We could not locate any active policies.</p>
      <p class="no-policies-message-sub">Please contact our service team for asistance.</p>
      <ion-button expand="full" (click)="callService.emit()">Call Service</ion-button>
    </ion-card-content>
  </ion-card>
</div>
