<ion-list>
  <ion-radio-group [value]="methodSelected" (ionChange)="onMethodChange($event)">
    <ion-item
      *ngFor="let paymentAccount of wallet?.paymentAccounts; let i = index; let isLast = last"
      (click)="onMethodChange({ detail: { value: paymentAccount.paymentAccountToken } })"
      class="wallet-item item"
      lines="full"
    >
      <csaa-icon-payment-method
        slot="start"
        [paymentAccount]="paymentAccount"
      ></csaa-icon-payment-method>
      <ion-label>
        {{ paymentAccount.shortName }}
        ****{{
          paymentAccount?.card ? paymentAccount?.card?.last4digits : paymentAccount?.account?.number
        }}

        <p *ngIf="paymentAccount?.card?.expired" class="card-expired">Expired</p>
      </ion-label>
      <ion-button
        fill="none"
        class="payment-edit"
        (click)="onClickEditPaymentAccount(paymentAccount); $event.stopPropagation()"
      >
        Edit
      </ion-button>
      <ion-radio
        class="csaa-radio-bigger"
        slot="end"
        mode="md"
        [value]="paymentAccount.paymentAccountToken"
        [disabled]="paymentAccount?.card?.expired"
      ></ion-radio>
    </ion-item>
  </ion-radio-group>
  <ion-item lines="full" detail (click)="addNew.emit()">
    <ion-label>Add new payment method</ion-label>
  </ion-item>
</ion-list>
