//registry.npmjs.org/:_authToken=1acba89d-22d8-4c11-a9d2-a623932e61b8
unsafe-perm=true
@ionic-enterprise:registry=https://registry.ionicframework.com/
//registry.ionicframework.com/:_authToken=key_5d75608f16314fababebe872086f5760
