//registry.npmjs.org/:_authToken=${AAA_MOBILE_v5_NPM_TOKEN}
unsafe-perm=true
@ionic-enterprise:registry=https://registry.ionicframework.com/
//registry.ionicframework.com/:_authToken=${AAA_IONIC_REGISTRY_TOKEN}
