<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>557819070465-0r3eshi92ihpualu71g1do0deamqsssv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.557819070465-0r3eshi92ihpualu71g1do0deamqsssv</string>
	<key>API_KEY</key>
	<string>AIzaSyANCilrsrSjeyImu80Df4YqG4AicliLALE</string>
	<key>GCM_SENDER_ID</key>
	<string>557819070465</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aaa.iphone.discounts</string>
	<key>PROJECT_ID</key>
	<string>aaa-mobile-deventerprise</string>
	<key>STORAGE_BUCKET</key>
	<string>aaa-mobile-deventerprise.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:557819070465:ios:5e21c59d821bb1479f5800</string>
	<key>DATABASE_URL</key>
	<string>https://aaa-mobile-deventerprise.firebaseio.com</string>
</dict>
</plist>