<csaa-skeleton-card *ngIf="loading"></csaa-skeleton-card>
<ion-card *ngIf="!loading" class="csaa-card payments-card-component">
  <ion-card-header>
    <ion-card-title> Payments </ion-card-title>
  </ion-card-header>
  <ion-card-content class="csaa-item-list">
    <ion-list *ngIf="payments && payments.length">
      <ng-container *ngFor="let payment of payments">
        <csaa-make-payment-item
          *ngIf="!isPaymentSuccess(payment)"
          [loading]="loading"
          [payment]="payment"
          [paymentMethod]="getSelectedPaymentMethod()"
          [customerSearch]="customerSearch$ | async"
          [otherAmount]="payment?.otherAmount"
          [autopayEnrollment]="payment?.autopayEnrollment"
          (payNowClick)="goToPayNow($event)"
          (autoPayClick)="goToAutopaySettings($event)"
        >
        </csaa-make-payment-item>
      </ng-container>
    </ion-list>

    <ion-button expand="block" fill="outline" (click)="openTransactionHistoryPage()">
      Billing & Transaction History
    </ion-button>
    <ion-button expand="full" (click)="openPayAllPolicies()"> Pay All Policies </ion-button>
  </ion-card-content>
</ion-card>

<!-- TODO : REMOVE
<ion-card class="csaa-card payments-card-component">
  <label>Temporary access to previous Payment Screen. To be removed.</label>
  <ion-card-content class="csaa-item-list">
    <ion-button expand="full" (click)="openPaymentsPage()"> Payments </ion-button>
  </ion-card-content>
</ion-card>
-->
