<csaa-skeleton-card *ngIf="loading"></csaa-skeleton-card>
<ion-card *ngIf="!loading" class="csaa-card">
  <ion-card-header>
    <ion-card-title> Payments </ion-card-title>
  </ion-card-header>
  <ion-card-content class="csaa-item-list">
    <ion-list *ngIf="payments && payments.length">
      <ion-item *ngFor="let payment of payments">
        <ion-label>
          <ion-grid>
            <ion-row [class.overdue]="isOverdue(payment)" *ngIf="payment.isPaymentDue">
              <ion-col class="due-date">
                <h3>
                  <ng-container *ngIf="isOverdue(payment)">Past</ng-container>
                  Due {{ payment.dueDate | date: 'mediumDate':timezone }}
                </h3>
              </ion-col>
              <ion-col size="auto">
                <h3>{{ payment.amount | currency: 'USD':'symbol':'1.2-2' }}</h3>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="!payment.isPaymentDue">
              <h3>No Payment Due</h3>
            </ion-row>
            <ion-row class="subtitle">
              <ion-col>{{ payment.policyNumber }}</ion-col>
              <ion-col *ngIf="payment.autoPay" size="auto" class="payment-type">Autopay</ion-col>
            </ion-row>
            <ion-row class="subtitle">
              <ion-col class="payment-subtitle">
                <csaa-policy-subtitles [policySubtitle]="payment.subtitle"></csaa-policy-subtitles>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-label>
      </ion-item>
    </ion-list>

    <ion-button expand="full" (click)="openPaymentsPage()"> Payments </ion-button>
  </ion-card-content>
</ion-card>
