$mwg-card-header-text-color: #000;
$mwg-color-primary: #003087;
$mwg-what-to-do-header-text-color: #737373;
$mwg-background-content: #f5f6f7;
$mwg-font-base: 'Smart', 'SF Pro Text', 'Helvetica Neue', 'Roboto', sans-serif !important;

$mwg-shrink-small-breakpoint: 400px;

$mwg-font-size: 13px;
