$aaa-national-primary: #d92d2e;
$csaa-font-family: 'Smart', 'SF Pro Display', -apple-system, 'Helvetica Neue', 'Roboto', sans-serif;
$csaa-header-font-family-ios: 'Smart', 'SF Pro Display', -apple-system, 'Helvetica Neue', 'Roboto',
  sans-serif;
$csaa-subtitle-font-family-ios: 'Smart', 'SF Pro Text', -apple-system, 'Helvetica Neue', 'Roboto',
  sans-serif;

$csaa-bg: #ddd;
$csaa-text-color: #333;
$csaa-glass-color: rgba(255, 255, 255, 0.8);
$csaa-image-overlay-color: rgba(0, 0, 0, 0.45);
$csaa-emergency-color: #d52b1e;
$csaa-lighter-color: #737373;
$csaa-another-color: #333333;
$csaa-card-gradient-start: #fafafa;
$csaa-card-gradient-end: #ededed;
$csaa-auto-id-card-bg-primary: #003087;
$csaa-auto-id-card-bg-secondary: #da291c;

$csaa-modal-toolbar-bg-color: #fff;
$csaa-modal-bg-color: #fff;
$csaa-modal-buton-disabled-color: #707070;
$csaa-modal-item-text-color: #707070;
$csaa-modal-item-border-color: #cccccc;
$csaa-border-color: #cccccc;

$csaa-active-color: #1778d3;
$csaa-light-font-weight: 300;
$csaa-medium-font-weight: 400;
$csaa-active-font-weight: 500;
$csaa-bold-font-weight: 600;
$csaa-bolder-font-weight: 700;

$csaa-link-color: #02529a;

$csaa-card-border-radius: 10px;
$csaa-card-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
$csaa-card-margin: 12px;

$csaa-subtitle-small-font-size: 10px;
$csaa-subtitle-font-size: 12px;
$csaa-subheader-font-size: 16px;
$csaa-card-header-font-size-sm: 21px;
$csaa-card-header-font-size: 24px;
$csaa-toolbar-title-font-size: 32px;
$csaa-toolbar-title-padding: 0 14px 14px;

$csaa-list-item-card-content-padding: 0;
$csaa-list-item-background-color: #ebebeb;
$csaa-list-item-border: 1px solid var(--border-color, $csaa-border-color);
$csaa-list-item-padding: 2px 20px;

$csaa-list-item-button-height: 2.8em;
$csaa-list-item-button-font-size: 1.6rem;
$csaa-list-item-button-inner-padding: 0;
$csaa-list-item-button-label-margin-right: 0;

$csaa-modal-background-color: #f7f7f7;

$shrink-small-breakpoint: 400px;

$navbar-md-height: 80px;

$csaa-font-path: '/assets/csaa-mobile/fonts';
