// This file emulate some of the host app's styles
// that affects global components outside our module's microapp.
// !! It wont be include in the microapp final package !!
// For regular styles use app/micro-apps/csaa-mobile/_scss/theme/aca
@at-root ion-app.global-theme-aca {
  --ion-color-primary: #034f9d;
  --ion-color-primary-rgb: 3, 79, 157;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #03468a;
  --ion-color-primary-tint: #1c61a7;

  --ion-background-color: #f5f5f5;
  --ion-background-color-rgb: 245, 245, 245;
  --ion-toolbar-background: #ffffff;
  --ion-tab-bar-background: #ffffff;
  --ion-tab-bar-color-selected: var(--ion-color-primary, #1f1f1f);
  --ion-text-color: #1f1f1f;
  --ion-text-color-rgb: 31, 31, 31;

  // Emulate ACA font definitions that should not override CSAA one.
  .md {
    --ion-font-family: "Roboto", "SanFrancisco", sans-serif;
  }

  .ios {
    --ion-font-family: "SanFrancisco", "Roboto", sans-serif;
  }

}

