ion-content {
  > div {
    text-align: center;

    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  ion-grid {
    max-width: 80%;
  }

  ion-button {
    text-transform: unset;
    font-weight: bold;
  }
}
