@import '../../_scss/variables';

ion-content {
  --background: white;
  --ion-background-color: white;
}

h2 {
  margin: 40px 20px 20px 20px;
}

.policy-meta-content {
  h3 {
    margin-top: 0;
    color: var(--ion-color-primary);
  }
  .subtitle {
    display: block;
    font-size: 13px;
    margin-bottom: 5px;
  }
  .more-text {
    display: block;
    text-decoration: none;
  }
  b {
    font-size: 12px;
  }
}

.policy-meta-icon {
  align-self: flex-start;
}

ion-list {
  ion-item {
    --detail-icon-opacity: 1;
    ion-text {
      margin-right: 5px;
    }
    span[slot='end'] {
      font-weight: $csaa-light-font-weight;
    }
  }
}

.enrollment-title {
  font-size: $csaa-subheader-font-size;
  font-weight: $csaa-medium-font-weight;
  color: $csaa-text-black;
}
.enrollment-message {
  font-size: $csaa-default-font-size;
  color: $csaa-lighter-color;
}
.enrollment-terms {
  font-size: $csaa-default-font-size;
  margin-top: 6px;
  margin-bottom: 22px;
}
.enrollment-warning {
  font-size: $csaa-subtitle-font-size;
  font-weight: $csaa-medium-font-weight;
  color: $csaa-emergency-color;
  margin-bottom: 18px;
}
.payment-terms {
  margin-top: 12px;
  padding-top: 0px;
}
csaa-autopay-discount-card {
  display: block;
  margin-top: 10px;
}
csaa-theme-icon {
  margin: 2px 12px 2px 0px;
}
