$aca-card-header-text-color: #000;
$aca-color-primary: #034f9d;
$aca-what-to-do-header-text-color: #737373;
$aca-background-content: #f5f6f7;
$aca-font-base-ios: 'Smart', 'SF Pro Text', "SanFrancisco", "Roboto", sans-serif;
$aca-font-base-md: 'Smart', 'SF Pro Text', "Roboto", "SanFrancisco", sans-serif;

$aca-shrink-small-breakpoint: 400px;

$aca-font-size: 13px;

$aca-id-card-background: #BE1A0D;
