@import '../../_scss/variables';

ion-content {
  --background: white;
  --ion-background-color: white;
}

.payments-list {
  margin-top: 20px;
  span {
    font-size: $csaa-subtitle-font-size;
    font-weight: $csaa-bold-font-weight;
  }
  h3 {
    color: var(--ion-color-primary);
    font-size: $csaa-subheader-font-size;
    font-weight: $csaa-bolder-font-weight;
  }
}
h2 {
  margin: 40px 20px 20px 20px;
}

.overdue {
  color: $csaa-emergency-color;
}
