<ion-card
  [ngClass]="cardClass"
  class="csaa-card what-to-do-card"
  [class.open-card]="open"
  (click)="handleClickEvent()"
>
  <ion-card-header>
    <ion-card-subtitle>{{ cardSubtitle }}</ion-card-subtitle>
    <ion-card-title>
      <span [innerHTML]="cardTitle"></span>
    </ion-card-title>
  </ion-card-header>
  <ion-card-content class="card-body csaa-item-list show-card-opened">
    <ng-content></ng-content>
  </ion-card-content>
  <ion-card-content class="card-footer">
    <span class="footer-view-more show-card-closed">
      {{ footerLabel }}<ion-icon name="arrow-forward-outline"></ion-icon>
    </span>

    <ion-button (click)="handleFooterButtonClick($event)" class="footer-button show-card-opened">
      {{ footerButtonText }}
    </ion-button>
  </ion-card-content>
</ion-card>
